.space-search {
    display: flex;
    justify-content: center;
}

.search-input {
    margin-bottom: 16px;
    width: 800px;
}

@media only screen and (max-width: 768px) {
    .space-search {
        display: block;
    }
    
    .search-input {
        margin-bottom: 16px;
        width: 300px;
    }
}